/*nav-bar styles*/
#logo{
    margin-top: 10px;
    display: flex;
}
#logo-name{
    color: #231F20;
    font-size:30px;
    margin-left: 10px;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: #303030;
}
.nav-bar{
    width:100%;
}
.nav-bar-inner{
    height: 120px;
    position: fixed;
    background-color: #EAEAEA;
    display:flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 10%;
}
.nav-menu{
    font-size: 20px;
    margin: auto;
    display: flex;
}
#active-page{
    border-bottom: 5px solid #03ac0e;
    padding-bottom: 20px;
}
.menu-list{
    margin-right: 40px;
}
.menu-list:hover{
    color: #03ac0e;
    font-size: 25px;
}
.prof-pic{
    margin-top: 10px;
}
#prof-pic:hover{
    opacity: 0.5;
    height: 80px;
    width: 80px;
}

/*content styles*/
.container{
    
    margin: auto;
    margin-top: 60px;
    text-align: center;
    padding: 5% 18%;
}


.svg {
        width: 100%;
        height: auto;
        min-width: 1200px;    
}   
h1 {
    text-align: center;
    padding-right:40px;
}    


text {
    font-size: 14px;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: middle;
}
.circle {
    fill: #2dc653;
    transition: fill 0.3s;
}

.circle:hover {
    fill: #2e6b37;
    cursor: pointer;
    border-color: #25a244;
    border-width: 3px;
}
.selipse{
    fill: #007f5c ;
    transition: fill 0.3s;
}

.selipse:hover {
    fill: #25a244;
    cursor: pointer;
    border-color: #25a244;
    border-width: 3px;
}

/*footer styles*/
.footer{
    background-color: #dedddd;
    width: 100%;
}
.footer-inner{
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}
.footer-logo{
    margin-top: 30px;
    margin-right: 10px;
}
#logo-name-footer{
    color:#030A5A;
    font-size:10px;
    display: flex;
}
.footer-name{
    color: #030A5A;
    font-size: 20px;
}
.footer-links{
    color:#303030;
    font-size: 18px;
    margin-top: 50px;
}

.footer-links:hover{
    color:#03ac0e;
}
.footer-2 {
    background-color: white;
    padding: 10px 0;
}
.copyright {
    text-align: center;
}
  
.copy-cont {
    font-size: 12px;
    color: #777;
}






/*responsive*/
@media (max-width:1024px){
    .nav-bar-inner{
        display:flex;
    }
    #logo{
        margin-right: 20px;
    }
    #logo-name{
        margin-top: 25px;
        margin-left: 10px;
        font-size: 30px;
    }
    .nav-menu{
        font-size: 20px;
        margin-top: 60px;
        margin: 10px;
        display: flex;
    }
    #active-page{
        padding-bottom: 10px;
    }
    .prof-pic{
        margin-top: 10px;
        margin-right: 56px;
    }
    .menu-list{
        margin-right: 10px; 
    } 
    .footer-std{
        margin-left: 10px;
        margin-top: 0px;
    }
    .footer-name{
        color:#030A5A;
        font-size: 20px;
    }
    
    .footer-links{
        color:#303030;
        font-size: 18px;
    }
    #footer-img{
        height: 100px;
        width: 100px;
        margin-right: 20px;
        margin-top: 0px;
    }
    #heading1{
        font-size: 30px;
    }
    
    #para-1{
        font-size: 20px;
    }
    #heading2{
        font-size: 30px;
    }
    #para-2{
        font-size: 20px;
    }
    #button-1{
        font-size: 16px;
    }
}

@media (max-width:900px){
    #logo{
        margin-top: 20px;
        flex-direction: column;
    }
    div {
        flex-direction: column;
      }  
    .nav-bar-inner{
        height: auto;
        display:flex;
        text-align: center;
    }
    #active-page{
        padding-bottom: 0px;
    }
    .prof-pic{
        margin-top: 10px;
        margin-right: 0px;
    }
    .container{
        margin-top: 458px;
    }
    #button-1{
        font-size: 12px;
    }
    .footer-inner{
        height: auto;
        padding-bottom: 20px;
    }
    .footer-std{
		text-align: center;
	}
	.footer-logo{
		text-align: center;
	}
	#footer-img{
		margin: auto;
	} 
}