img {
    display: grid;
    width: 100px;
    margin: auto;
    text-align: center;
}

h1 {
    font-family: "Poppins", serif;
    color:aliceblue;
    padding: 0px;
    margin: 0px;
    font-size: 70px;
    text-align: center;
}

h3 {
    font-size: 30px;
    color:aliceblue;
    margin: 0px;
    text-align: center;
    font-family: "Poppins", serif;
}

p {
    color:aliceblue;
    font-family: "Poppins", serif;
    margin-top: 5px;
    font-size: 40px;
    text-align: center;
}

table {
    display: grid;
    place-items: center;
    border-spacing: 2px;
}

table th {
    font-family: "Poppins", serif;
    background-color: rgb(36, 75, 87);
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
    font-size: 25px;

}

tr {
    font-family: "Poppins", serif;
    background-color: rgb(49, 107, 53);
    font-size: 25px;



}

td {
    border-radius: 10px;
    text-align: center;
}