.row{
    width: 100%;
    display: flex;
}
.column{
    flex: 1;
    height: 100%;
}
.container{
    margin: 0 20%;
    margin-top: 140px;
	margin-bottom: 30px;
	background-color: rgb(249, 247, 255, 0.7);
	border-radius: 16px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card{
    padding: 20px;
    border: 2px solid;
}


/*nav-bar styles*/
#logo{
    margin-top: 10px;
    display: flex;
}
#logo-name{
    color: #231F20;
    font-size:30px;
    margin-left: 10px;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: #303030;
}
.nav-bar{
    width:100%;
}
.nav-bar-inner{
    height: 120px;
    position: fixed;
    background-color: #EAEAEA;
    display:flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 10%;
}
.nav-menu{
    font-size: 20px;
    margin: auto;
    display: flex;
}
#active-page{
    border-bottom: 5px solid #03ac0e;
    padding-bottom: 20px;
}
.menu-list{
    margin-right: 40px;
}
.menu-list:hover{
    color: #03ac0e;
    font-size: 25px;
}
.prof-pic{
    margin-top: 10px;
}
#prof-pic:hover{
    opacity: 0.5;
    height: 80px;
    width: 80px;
}




/*content styles*/
#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
#top-menu{
    list-style-type: none;
    display: inline-flex;
    font-size: 20px;
}
#to-home:hover{
    color: blue;
}
#main-title{
    text-align: center;
    color: maroon;
    font-size: 40px;
    margin-bottom: 60px;
    margin-top: 0
}
#sub-title{
    color: rgb(0, 128, 9);
    font-size: 30px;
}
#para{
    font-size: 20px;
    text-align: justify;
    margin-bottom: 60px;
}
table{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
table,th,td{
    border: 2px rgb(0, 0, 0) solid;
    border-collapse: collapse;
    margin: 30px 0px;
}
th,td{
    height: 50px;
    padding: 10px;
}
#titles{
    height: 60px;
    font-size: 20px;
    background-color: lightgreen;
    height: 120px;
}
.links{
    color: blue;
}
.section-headings{
    text-align: center;
    font-size: 25px;
    padding: 20px 0px;
    background-color: #030a5a;
    color: #EAEAEA;
    height: 30px;
}
.icon-col{
    background-color: lightgreen;
}
.row-odd{
    background-color: rgb(121, 255, 255);
}
.row-even{
    background-color: rgb(121, 221, 255);
}
.links:hover{
    color: red;
}
#back-to-top{
    float: right;
    margin-right: 25px;
    font-size: 20px;
    margin-bottom: 30px;
}
#back-to-top:hover{
    color: maroon;
    font-size: 21px;
}
.tooltiptext{
    visibility: hidden;
    width: 200px;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    font-size: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }




/*footer styles*/
.footer{
    background-color: #dedddd;
    width: 100%;
}
.footer-inner{
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}
.footer-logo{
    margin-top: 30px;
    margin-right: 10px;
}
#logo-name-footer{
    color:#030A5A;
    font-size:10px;
    display: flex;
}
.footer-name{
    color: #030A5A;
    font-size: 20px;
}
.footer-links{
    color:#303030;
    font-size: 18px;
    margin-top: 50px;
}

.footer-links:hover{
    color:#03ac0e;
}
.footer-2 {
    background-color: white;
    padding: 10px 0;
}
.copyright {
    text-align: center;
}
  
.copy-cont {
    font-size: 12px;
    color: #777;
}







/*responsive*/
@media (max-width:1024px){
    .nav-bar-inner{
        display:flex;
    }
    #logo{
        margin-right: 20px;
    }
    #logo-name{
        margin-top: 25px;
        margin-left: 10px;
        font-size: 30px;
    }
    .nav-menu{
        font-size: 20px;
        margin-top: 60px;
        margin: 10px;
        display: flex;
    }
    #active-page{
        padding-bottom: 10px;
    }
    .prof-pic{
        margin-top: 10px;
        margin-right: 56px;
    }
    .menu-list{
        margin-right: 10px; 
    } 



    #main-title{
        font-size: 34px;
    }
    #sub-title{
        font-size: 26px;
    }
    #para{
        font-size: 20px;
    }



    .footer-std{
        margin-left: 10px;
        margin-top: 0px;
    }
    .footer-name{
        color:#030A5A;
        font-size: 20px;
    }
    .footer-links{
        color:#303030;
        font-size: 18px;
    }
    #footer-img{
        height: 100px;
        width: 100px;
        margin-right: 20px;
        margin-top: 0px;
    }
    #heading1{
        font-size: 30px;
    }
    
    #para-1{
        font-size: 20px;
    }
    #heading2{
        font-size: 30px;
    }
    #para-2{
        font-size: 20px;
    }
    #button-1{
        font-size: 16px;
    }
}

@media (max-width:768px){
    #logo{
        margin-top: 20px;
        flex-direction: column;
    }
    div {
        flex-direction: column;
      }  
    .nav-bar-inner{
        height: auto;
        display:flex;
        text-align: center;
    }
    #active-page{
        padding-bottom: 0px;
    }
    .prof-pic{
        margin-top: 10px;
        margin-right: 0px;
    }
    .container{
        margin-top: 458px;
    }
    #button-1{
        font-size: 12px;
    }



    table,th,td{
        font-size: 12px;
    }
    #titles{
        font-size: 15px;
    }
    .section-headings{
        font-size: 18px;
        padding: 10px 0px;
    }
    .col-1-icons{
        width: 50px;
    }



    .footer-inner{
        height: auto;
        padding-bottom: 20px;
    }
    .footer-std{
		text-align: center;
	}
	.footer-logo{
		text-align: center;
	}
	#footer-img{
		margin: auto;
	} 
}